<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bsppro.mapper.CashiersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bsppro.entity.Cashiers">
        <id column="casid" property="casid" />
        <result column="insid" property="insid" />
        <result column="cashiersprice" property="cashiersprice" />
        <result column="shijprice" property="shijprice" />
        <result column="paymenttemp" property="paymenttemp" />
        <result column="jfdk" property="jfdk" />
        <result column="cashierstimes" property="cashierstimes" />
    </resultMap>

</mapper>
