<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bsppro.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bsppro.entity.Member">
        <id column="mid" property="mid" />
        <result column="membername" property="membername" />
        <result column="baifb" property="baifb" />
        <result column="memberjfcount" property="memberjfcount" />
    </resultMap>

</mapper>
