<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bsppro.mapper.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bsppro.entity.Shop">
        <id column="shopid" property="shopid" />
        <result column="firmno" property="firmno" />
        <result column="stateid" property="stateid" />
        <result column="storeid" property="storeid" />
        <result column="unitid" property="unitid" />
        <result column="gid" property="gid" />
        <result column="shopname" property="shopname" />
        <result column="sBrand" property="sBrand" />
        <result column="weight" property="weight" />
        <result column="pictrueUrl" property="pictrueUrl" />
        <result column="stockprice" property="stockprice" />
        <result column="bjmoney" property="bjmoney" />
        <result column="hymoney" property="hymoney" />
        <result column="vipmoney" property="vipmoney" />
        <result column="rxyprice" property="rxyprice" />
    </resultMap>

</mapper>
