<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bsppro.mapper.WxxqdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.bsppro.entity.Wxxqd">
        <id column="wxqid" property="wxqid" />
        <result column="insid" property="insid" />
        <result column="rid" property="rid" />
        <result column="sum" property="sum" />
        <result column="couponmoney" property="couponmoney" />
        <result column="datepmoney" property="datepmoney" />
    </resultMap>

</mapper>
